html {
  background-color: black;
  width: 100vw;
  height: 100vh;
}

body {
  display: grid;
  grid-template-columns: 66.667% 33.334%;
}

a {
  text-decoration: none;
  color: white;
}

div {
  display: grid;
}

p {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: -2px;
}

ul {
  z-index: 10;
  position: fixed;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.8rem;
  letter-spacing: -5px;
  color: white;
  font-weight: 900;
  margin-bottom: -45px;
  text-shadow: 2px 6px #000000;

}

.photoAlbum {
  display: grid;
  grid-template-columns: repeat(300px, minmax(300px, 1fr));
  grid-gap: 10px;
  align-items: stretch;	
}

.photoAlbum img {
  max-width: 100%;
}

.linkList {
  margin-top: 2rem;
}

.contactButton {
  margin-top: 5rem;
  width: 10rem;
  height: 4rem;
  font-size: 1.6em;
  color: white;
  font-weight: 900;
  letter-spacing: -1px;
  background-color: rgba(240, 248, 255, 0);
  border: solid 2px white;
}